/*---------------------------------------------------------------*/
/* CIS 174: Select
/*---------------------------------------------------------------*/
/*--------------------------------*/
/* Select */
/*--------------------------------*/
select,
select[data-state="enabled"] {
    pointer-events: auto;
    user-select: none;
    outline: none;
    /*POSITION*/
    padding: 12px 6px 12px 0px;
    /*DISPLAY*/
    /*BACKGROUND*/
    background: var(--color-white);
    /*BORDER*/
    border: none;
    /*TEXT*/
    color: var(--color-stroke);
}
/*--------------------------------*/
/* Select */
/*--------------------------------*/
select[data-state="disabled"] {
    pointer-events: none;
    user-select: none;
    /*BACKGROUND*/
    background: var(--color-strokeDim);
    /*TEXT*/
    color: var(--color-strokeOff);
}
/*--------------------------------*/
/* Select - Option */
/*--------------------------------*/
select option {
    /*BORDER*/
    border-radius: 2px;
}
/*--------------------------------*/
/* Select */
/*--------------------------------*/
    /*GRID*/
    /*FLEX*/
    /*VARS*/
    /*POSITION*/
    /*DISPLAY*/
    /*BACKGROUND*/
    /*BORDER*/
    /*TEXT*/
    /*SHADOW*/
    /*TRANSITION*/
    /*ANIMATION*/
    /*TRANSFORM*/
    /*DEBUGGING*/