/*---------------------------------------------------------------*/
/* CIS 174: Select
/*---------------------------------------------------------------*/
/*--------------------------------*/
/* Select */
/*--------------------------------*/
select {
    /*POSITION*/
    padding: 12px 6px 12px 0px;
    /*DISPLAY*/
    /*BACKGROUND*/
    background: var(--color-white);
    /*BORDER*/
    border: none;
    /*TEXT*/
    color: var(--color-stroke);
    /*SHADOW*/
    /*TRANSITION*/
    /*ANIMATION*/
    /*TRANSFORM*/
    /*DEBUGGING*/
}
/*--------------------------------*/
/* Select */
/*--------------------------------*/
    /*GRID*/
    /*FLEX*/
    /*VARS*/
    /*POSITION*/
    /*DISPLAY*/
    /*BACKGROUND*/
    /*BORDER*/
    /*TEXT*/
    /*SHADOW*/
    /*TRANSITION*/
    /*ANIMATION*/
    /*TRANSFORM*/
    /*DEBUGGING*/