/*---------------------------------------------------------------*/
/* CIS 174: Thermo
/*---------------------------------------------------------------*/
/*--------------------------------*/
/* Thermo */
/*--------------------------------*/
.thermo {
    /*VARS*/
    --thermo-width: 48px;
    --thermo-height: 240px;
    --mercury-height: 100%;
    --mercury-timing: 10s;
    --mercury-end-color: #ff6347;
    /*POSITION*/
    position: relative;
    width: var(--thermo-width);
    height: var(--thermo-height);
    /*BACKGROUND*/
    background: #f5f5f5;
    /*BORDER*/
    border: 6px solid #333;
    border-top-right-radius: var(--thermo-width);
    border-top-left-radius: var(--thermo-width);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
    /*SHADOW*/
    box-shadow: inset -2px -2px 1px 4px rgba(0, 0, 0, 0.2);
}
/*--------------------------------*/
/* Thermo::After = reservoir */
/*--------------------------------*/
.thermo__bulb {
    /*POSITION*/
    position: absolute;
    bottom: calc(var(--thermo-width) * -1.75);
    left: calc((var(--thermo-width)* -0.5) - 6px);
    width: calc(var(--thermo-width)*2);
    height: calc(var(--thermo-width)*2);
    /*BACKGROUND*/
    background: #6495ed;
    /*BORDER*/
    border-radius: 100%;
    /*SHADOW*/
    box-shadow: inset -2px -2px 1px 4px rgba(0, 0, 0, 0.2);
    /*DEBUGGING*/
    border: 6px solid #333;
}
/*--------------------------------*/
/* Temperature = fill */
/*--------------------------------*/
.thermo__mercury {
    /*POSITION*/
    z-index: 2;
    position: absolute;
    width: calc(var(--thermo-width) - 12px);
    height: var(--mercury-height);
    bottom: 0;
    left: 0;
    /*DISPLAY*/
    /*BACKGROUND*/
    background-image: linear-gradient(var(--mercury-end-color) 0% 25%, cornflowerblue 75%);
    /*BORDER*/
    border-top-right-radius: var(--thermo-width);
    border-top-left-radius: var(--thermo-width);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
    /*TEXT*/
    /*SHADOW*/
    box-shadow: inset -2px -2px 1px 4px rgba(0, 0, 0, 0.2);
    /*TRANSITION*/
    transition-timing-function: linear;
    transition-duration: var(--mercury-timing);
}
/*--------------------------------*/
/* Gradients */
/*--------------------------------*/
.thermo__gradients {
    /*POSITION*/
    z-index: 5;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 12px);
    /*BACKGROUND*/
    background-image: linear-gradient(#333 1px, transparent 1px);
    background-size: 12px 20px;
    background-repeat: repeat-y;
}
/*--------------------------------*/
/* tooltip */
/*--------------------------------*/
.mercury__tooltip {
    /*POSITION*/
    z-index: 12;
    position: absolute;
    top: -16px;
    left: calc((var(--thermo-width) * -1) - 24px);
    width: 72px;
    height: 36px;
    /*DISPLAY*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*BACKGROUND*/
    background: whitesmoke;
    /*BORDER*/
    border: 2px solid var(--color-strokeDim);
    border-radius: 4px;
    /*TEXT*/
    color: var(--color-stroke);
    text-align: right;
    /*SHADOW*/
    box-shadow: 2px 2px 1px 2px rgba(0, 0, 0, 0.2);
}
.mercury__tooltip::after {
    content: '';
    /*POSITION*/
    position: absolute;
    top: calc(50% - 12px);
    left: 70px;
    margin-right: 5px;
    /*BORDER*/
    border-width: 12px;
    border-style: solid;
    border-color: transparent transparent transparent var(--color-strokeDim);
}
/*--------------------------------*/
/* Thermo: info - container */
/*--------------------------------*/
.thermo__info__container {
    /*POSITION*/
    position: absolute;
    top: 0;
    left: calc(var(--thermo-width) - 6px);
    width: 150px;
    height: 100%;
    /*DISPLAY*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*TEXT*/
    font-size: 12px;
}
/*--------------------------------*/
/* Thermo: info - item */
/*--------------------------------*/
.thermo__info__item {
    /*POSITION*/
    position: relative;
    padding-left: 18px;
    width: 135px;
}
.thermo__info__item::before {
    content: '';
    /*POSITION*/
    position: absolute;
    top: calc(50% - 2px);
    left: -6px;
    width: 18px;
    /*BORDER*/
    border-bottom: 4px solid var(--color-stroke);
}
/*--------------------------------*/
/* Thermo: info - item (states) */
/*--------------------------------*/
.thermo__info__item[data-state="disabled"] {color: var(--color-strokeDim);}
.thermo__info__item[data-state="active--hot"] {color: var(--color-red);}
.thermo__info__item[data-state="active--cold"] {color: var(--color-blue);}
.thermo__info__item[data-state="enabled"] {color: var(--color-stroke);}
/*--------------------------------*/
/* Thermo: temp - container */
/*--------------------------------*/
.thermo__temp__container {
    /*POSITION*/
    position: absolute;
    top: 0;
    right: calc(var(--thermo-width) - 6px);
    height: 100%;
    /*DISPLAY*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*TEXT*/
    font-size: 12px;
}
/*--------------------------------*/
/* Thermo: temp - item */
/*--------------------------------*/
.thermo__temp__item {
    /*POSITION*/
    position: relative;
    padding-right: 18px;
    width: 75px;
    /*TEXT*/
    text-align: right;
}
.thermo__temp__item::after {
    content: '';
    /*POSITION*/
    position: absolute;
    top: calc(50% - 2px);
    right: -6px;
    width: 18px;
    /*BORDER*/
    border-bottom: 4px solid var(--color-stroke);
}
/*--------------------------------*/
/* Thermo */
/*--------------------------------*/
    /*GRID*/
    /*FLEX*/
    /*VARS*/
    /*POSITION*/
    /*DISPLAY*/
    /*BACKGROUND*/
    /*BORDER*/
    /*TEXT*/
    /*SHADOW*/
    /*TRANSITION*/
    /*ANIMATION*/
    /*TRANSFORM*/
    /*DEBUGGING*/