/*---------------------------------------------------------------*/
/* CIS 174: Thermo
/*---------------------------------------------------------------*/
/*--------------------------------*/
/* Thermo */
/*--------------------------------*/
.thermo {
    /*VARS*/
    --color-thermo-bkrnd: #38383f;
    --color-thermo-border: #2a2a2e;
    --thermo-width: 35px;
    --thermo-height: 240px;
    --temp-height: 100%;
    /*POSITION*/
    z-index: 1;
    position: relative;
    margin-bottom: 50px;
    width: var(--thermo-width);
    height: var(--thermo-height);
    /*BORDER*/
    border: 6px solid var(--color-thermo-border);
    border-radius: var(--thermo-width);
}
/*--------------------------------*/
/* Thermo::After = reservoir */
/*--------------------------------*/
.thermo__bulb {
    /*POSITION*/
    z-index: -3;
    position: absolute;
    bottom: -38px;
    left: calc(50% - var(--thermo-width));
    width: calc(var(--thermo-width)*2);
    height: calc(var(--thermo-width)*2);
    /*BACKGROUND*/
    background: #3dcadf;
    /*BORDER*/
    border: 6px solid var(--color-thermo-border);
    border-radius: 100%;
}
/*--------------------------------*/
/* Temperature = fill */
/*--------------------------------*/
.temperature {
    /*POSITION*/
    position: absolute;
    bottom: 0;
    width: 100%;
    height: var(--temp-height);
    /*BACKGROUND*/
    background-image: linear-gradient(#f17a65 0%, #3dcadf 50%);
    /*BORDER*/
    border-radius: var(--thermo-width);
    /*TRANSITION*/
    transition: height 2s;
    /*border: 1px solid red;*/
}
/*--------------------------------*/
/* Gradients */
/*--------------------------------*/
.gradients {
    /*POSITION*/
    z-index: 12;
    position: absolute;
    width: calc(25px - 18px);
    height: 240px;
    /*BACKGROUND*/
    background-image: linear-gradient(#333 1px, transparent 1px);
    background-size: 12px 20px;
    background-repeat: repeat-y;
}
/*--------------------------------*/
/* tooltip */
/*--------------------------------*/
.tooltip {
    /*POSITION*/
    z-index: 20;
    position: absolute;
    padding: 6px;
    /*BACKGROUND*/
    background: #0d0d0d;
    /*BORDER*/
    border-radius: 4px;
    /*TEXT*/
    font-size: 10px;
    color: whitesmoke;
    /*SHADOW*/
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
    /*TRANSITION*/
    /*TRANSFORM*/
    transform: translateX(var(--thermo-width));
}
/*--------------------------------*/
/* Thermo */
/*--------------------------------*/
    /*GRID*/
    /*FLEX*/
    /*VARS*/
    /*POSITION*/
    /*DISPLAY*/
    /*BACKGROUND*/
    /*BORDER*/
    /*TEXT*/
    /*SHADOW*/
    /*TRANSITION*/
    /*ANIMATION*/
    /*TRANSFORM*/
    /*DEBUGGING*/