/*---------------------------------------------------------------*/
/* CIS 170: Semantic | Main: */
/*---------------------------------------------------------------*/
/*--------------------------------*/
/* Header: Nav */
/*--------------------------------*/
nav {
    /*POSITION*/
    margin: 0 auto;
    padding: 0 12px;
    max-width: 600px;
    height: 60px;
    /*DISPLAY*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /*BACKGROUND*/
    background: var(--color-white);
    /*BORDER*/
    border-bottom: 1px solid var(--color-stroke);
    /*TEXT*/
    font-size: 14px;
    /*SHADOW*/
    box-shadow: var(--ui-shadow-on);
    /*TRANSITION*/
    transition: var(--ui-transition);
}
/*--------------------------------*/
/* Header */
/*--------------------------------*/
header {
    /*GRID*/
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
    align-self: center;
    /*POSITION*/
    position: relative;
    width: 100%;
    height: 100%;
    /*TEXT*/
    font-size: 24px;
    font-weight: 600;
    color: var(--color-stroke);
}
/*--------------------------------*/
/* Main */
/*--------------------------------*/
main {
    /*GRID*/
    grid-column: 1 / span 3;
    grid-row: 2;
    /*POSITION*/
    margin-bottom: 12px;
    height: 100%;
    /*DISPLAY*/
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 328px calc(100% - 328px);
    grid-gap: 12px;
}
/*main > * {    border: 1px solid red;}*/
/*--------------------------------*/
/* Section: __display */
/*--------------------------------*/
section[class^="__display"] {
    /*GRID*/
    grid-row: 2;
    align-self: stretch;
    /*POSITION*/
    padding: 12px 0px;
    /*DISPLAY*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*BORDER*/
    border-radius: 8px;
    border: 2px solid var(--color-strokeDim);
    /*TEXT*/
    color: var(--color-strokeDim);
    font-size: 16px;
}
/*--------------------------------*/
/* Section: __display--left */
/*--------------------------------*/
main section[class*="__display--left"] {grid-column: 1;}
/*--------------------------------*/
/* Section: __display--right */
/*--------------------------------*/
main section[class*="__display--right"] {grid-column: 3;}
/*--------------------------------*/
/* Section: --thermometer */
/*--------------------------------*/
main section[class*="__thermometer"] {
    /*GRID*/
    grid-column: 1/ span 3;
    grid-row: 1;
    justify-self: center;
}
/*--------------------------------*/
/* Section: --buttons */
/*--------------------------------*/
main section[class*="__buttons"] {
    /*GRID*/
    grid-column: 2;
    grid-row: 2;
    align-self: center;
    /*POSITION*/
    position: relative;
    /*DISPLAY*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /*BORDER*/
    border-radius: 8px;
    /*TEXT*/
    font-weight: 500;
    font-size: 16px;
}
/*--------------------------------*/
/* Section: __row */
/*--------------------------------*/
section div[class*="__row"] {
    /*POSITION*/
    margin-bottom: 12px;
    width: 100%;
    /*DISPLAY*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    /*BACKGROUND*/
    background-color: var(--color-white);
    /*BORDER*/
    border: 2px solid var(--color-stroke);
    border-radius: 8px;
}
/*--------------------------------*/
/* Footer */
/*--------------------------------*/
footer {
    /*POSITION*/
    margin: 0 auto;
    padding: 0 12px;
    max-width: 600px;
    height: 36px;
    /*DISPLAY*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*TEXT*/
    font-size: 12px;
    color: whitesmoke;
}
/*--------------------------------*/
/* Template */
/*--------------------------------*/
    /*GRID*/
    /*FLEX*/
    /*VARS*/
    /*POSITION*/
    /*DISPLAY*/
    /*BACKGROUND*/
    /*BORDER*/
    /*TEXT*/
    /*SHADOW*/
    /*TRANSITION*/
    /*ANIMATION*/
    /*TRANSFORM*/
    /*DEBUGGING*/