/*---------------------------------------------------------------*/
/* CIS 170: Semantic | Main: */
/*---------------------------------------------------------------*/
/*--------------------------------*/
/* Semantic: All */
/*--------------------------------*/
nav,
header,
main,
footer {
    /*GRID*/
    grid-column: 1;
}
/*--------------------------------*/
/* Header: Nav */
/*--------------------------------*/
nav {
    /*GRID*/
    grid-row: 1;
    /*FLEX*/
    /*VARS*/
    /*POSITION*/
    /*DISPLAY*/
    /*BACKGROUND*/
    /*BORDER*/
    /*TEXT*/
    /*SHADOW*/
    /*TRANSITION*/
    /*ANIMATION*/
    /*TRANSFORM*/
    /*DEBUGGING*/
}
/*--------------------------------*/
/* Header */
/*--------------------------------*/
header {
    /*GRID*/
    grid-row: 2;
    /*FLEX*/
    /*VARS*/
    /*POSITION*/
    /*DISPLAY*/
    /*BACKGROUND*/
    /*BORDER*/
    /*TEXT*/
    /*SHADOW*/
    /*TRANSITION*/
    /*ANIMATION*/
    /*TRANSFORM*/
    /*DEBUGGING*/
}
/*--------------------------------*/
/* Main */
/*--------------------------------*/
main {
    /*GRID*/
    grid-row: 3;
    /*POSITION*/
    /*DISPLAY*/
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(2, 152px) 48px;
    grid-gap: 24px;
}
main > * {    border: 1px solid red;}
/*--------------------------------*/
/* Section: --thermometer */
/*--------------------------------*/
main section[class*="--thermometer"] {
    /*GRID*/
    grid-column: 2;
    grid-row: 1 / span 3;
}
/*--------------------------------*/
/* Footer */
/*--------------------------------*/
footer {
    /*GRID*/
    grid-row: 4;
    /*FLEX*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*TEXT*/
    font-size: 12px;
    color: whitesmoke;
}
/*--------------------------------*/
/* Template */
/*--------------------------------*/
    /*GRID*/
    /*FLEX*/
    /*VARS*/
    /*POSITION*/
    /*DISPLAY*/
    /*BACKGROUND*/
    /*BORDER*/
    /*TEXT*/
    /*SHADOW*/
    /*TRANSITION*/
    /*ANIMATION*/
    /*TRANSFORM*/
    /*DEBUGGING*/