/*---------------------------------------------------------------*/
/* CIS 170: Main */
/*---------------------------------------------------------------*/
/*--------------------------------*/
/* Imports: Semantic */
/*--------------------------------*/
@import url(semantic/semantic.css);
/*--------------------------------*/
/* Imports: Elements */
/*--------------------------------*/
@import url(elements/element_thermo_small.css);
@import url(elements/element_thermo.css);
@import url(elements/element_info.css);
@import url(elements/element_error.css);
@import url(elements/element_hint.css);
/*--------------------------------*/
/* Imports: Resets */
/*--------------------------------*/
@import url(resets/reset_select.css);
@import url(resets/reset_button.css);
@import url(resets/reset_label.css);
@import url(resets/resets_input.css);
/*--------------------------------*/
/* Media Queries */
/*--------------------------------*/
/*
@import url(media_queries/media_queries__main_lg.css) screen and (min-width:1200px);
@import url(media_queries/media_queries__main_md.css) screen and (min-width:700px) and (max-width:1200px);
@import url(media_queries/media_queries__main_sm.css) screen and (min-width:0px) and (max-width:700px);
*/
/*--------------------------------*/
/* Root */
/*--------------------------------*/ 
:root {
    /*DEBUGGING*/
    --debug-border: 1px solid red;
    --debug-bkrnd: rgba(255, 0, 0, 0.4);
    --debug-test-var: 100%;
    /*UI*/
    --ui-font-family: Arial, Helvetica, sans-serif;
    --ui-padding: 10px;
    --ui-border-radius: 10px;
    --ui-grid-gap: 0px;

    /*COLORS*/
    --color-background: #3d3d44;
    --color-white: #f5f5f5;
    --color-blue: #6495ed;
    --color-red: #ff6347;
    --color-redContainer: #ff927e;
    --color-stroke: #333333;
    --color-strokeOff: #858585;
    --color-strokeDim: #C2C2C2;

    /*SHADOW*/
    --ui-shadow-off: 2px 2px 12px 6px rgba(0, 0, 0, 0.0);
    --ui-shadow-on: 2px 2px 0px 2px rgba(0, 0, 0, 0.2);
    --ui-shadow-inset: inset 0px 0px 0px 4px rgba(0, 0, 0, 0.2);

    /*TRANSITIONS*/
    --ui-transition: all 0.95s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    /*SEMANTIC*/
}
/*--------------------------------*/
/* Overall */
/*--------------------------------*/        
* {
    /*POSITION*/
    margin: 0;
    padding: 0;
    /*DISPLAY*/
    box-sizing: border-box;
}
/*--------------------------------*/
/* Body */
/*--------------------------------*/
body {
    /*POSITION*/
    margin: 0;
    padding: 0;
    /*BACKGROUND*/
    background: var(--color-background);
    /*TEXT*/
    font-family: var(--ui-font-family);
}
/*--------------------------------*/
/* Grid Container */
/*--------------------------------*/        
.grid {
    /*POSITION*/
    margin: 0 auto;
    padding: 12px;
    max-width: 600px;
    /*DISPLAY*/
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto calc(100vh - (200px));
    justify-items: stretch;
    /*align-items: center;*/
    grid-gap: 12px;
    /*BACKGROUND*/
    background: whitesmoke;
    /*SHADOW*/
    box-shadow: var(--ui-shadow-on);
}
/*.grid > * {border: var(--debug-border);}*/
/*--------------------------------*/
/* Flex Container */
/*--------------------------------*/
.flex {
    /*display*/
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    /*DEBUGGING*/
    /*border: var(--debug-border);*/
}
/*---------------------------------------------------------------*/
/* Main: Animation-Class */
/*---------------------------------------------------------------*/
/*--------------------------------*/
/* Animation-Class: Prefix */
/*--------------------------------*/
[data-animation],
div[class*="animation"],
img[class*="animation"] {
    /*vars-animations main*/
    animation-name: var(--animation-name, none);
    animation-duration: var(--animation-duration, 1.0s);
    animation-timing-function: var(--animation-timing-function, cubic-bezier(0.175, 0.885, 0.32, 1.275));
    animation-delay: var(--animation-delay, 0.0s);
    animation-iteration-count: var(--animation-iteration-count, 1);
    animation-fill-mode: var(--animation-fill-mode, forwards);
    animation-play-state: var(--animation-play-state, paused);
}
.paused { --animation-play-state: paused;}
.running { --animation-play-state: running;}
/*---------------------------------------------------------------*/
/* Template: */
/*---------------------------------------------------------------*/
/*--------------------------------*/
/* Template */
/*--------------------------------*/
    /*VARS*/
    /*POSITION*/
    /*DISPLAY*/
    /*BACKGROUND*/
    /*BORDER*/
    /*TEXT*/
    /*SHADOW*/
    /*TRANSITION*/
    /*ANIMATION*/
    /*TRANSFORM*/
    /*DEBUGGING*/